{#
/**
 * @file coupon.html.twig
 * Default theme implementation to present Coupon data.
 *
 * This template is used when viewing Coupon pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_coupon()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('coupon') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
